{% extends 'client/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
  <p>Ваше имя и пароль не подходят. Пожалуйста попробуйте снова.</p>
{% endif %}


<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->

<div class="modal" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authModalLabel">Регистрация</h5>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          {{form|crispy}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
  // $('#authModal').modal("toggle");
  $('#authModal').modal({
            backdrop: 'static',
            keyboard: false
        });
</script>

{% endblock %}
