{% extends 'client/base.html' %}

{% block content %}
<h1>{{title}}:</h1>
  <form action="{% url 'client_list' %}" method="get">
    <div class="row">
      <div class="m-2">
        <button type="submit" class="btn btn-outline-secondary btn-sm" name="orderby" value="company_name">˄ имя</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" name="orderby" value="-company_name">˅ имя</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" name="orderby" value="date_create">˄ дата создания</button>
        <button type="submit"class="btn btn-outline-secondary btn-sm" name="orderby" value="-date_create">˅ дата создания</button>
      </div>
    </div>
  </form>
<ul>
  {% for field in client_list %}
    <li>
      <h5>Имя клиента: <a href="{{ field.get_absolute_url }}">{{field.company_name}}</a></h5> 
      Дата создания: {{field.date_create}}
      &nbsp; &nbsp;
      <!-- {% for phone in field.client_phones.all %}
        {{phone}}
      {% endfor %} -->
      <hr>
    </li>
  {% endfor %}
</ul>
{% endblock %}
