{% extends 'client/base.html' %}

{% block content %}
<h1>{{title}}</h1>
  <form action="{% url 'home' %}" method="get">
    <div>
      <ul>
        <li><input type="submit" name="orderby" value="company_name"></li>
        <li><input type="submit" name="orderby" value="-company_name"></li>
        <li><input type="submit" name="orderby" value="date_create"></li>
        <li><input type="submit" name="orderby" value="-date_create"></li>
      </ul>
    </div>
  </form>
<ul>
  {% for field in client_list %}
    <li>
      <h2><a href="{{ field.get_absolute_url }}">{{field.company_name}}</a> 
      &nbsp; &nbsp; &nbsp; {{field.date_create}}
      &nbsp; &nbsp;
      {% for phone in field.phone_set.all %}
        {{phone}}
      {% endfor %}
      </h2>
      <hr>
    </li>
  {% endfor %}
</ul>
{% endblock %}
