{% extends 'client/base.html' %}
{% block content %}
  <h2>Название проекта: &nbsp;<em>{{project_detail.name}}</em></h2>
  <div style="border-style: double; margin-right: 30px;">
    <h6>Описание: </h6> {% autoescape off %}{{project_detail.description}}{% endautoescape %}
  </div>
  <h6>Дата начала: &nbsp;<em>{{project_detail.date_begin}}</em></h6>
  <h6>Дата окончания: &nbsp;<em>{{project_detail.date_end}}</em></h6>
  <h6>Стоимость: &nbsp;<em>{{project_detail.price}}</em></h6>
  <div class="mt-4">
    <a href="{% url 'interactions_project' project_detail.pk %}" class="text-info fs-6">Взаимодействия по проекту</a>
  </div>
  <div class="mt-4">
    <a href="{% url 'project_update' project_detail.pk %}" class="text-secondary fs-6">Редактировать проект</a>
  </div>
  <div class="mt-2">
    <a href="{% url 'project_delete' project_detail.pk %}" class="text-danger fs-6">Удалить проект</a>
  </div>
{% endblock %}